* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url("images/Home.svg");
    /* background-color: #282c33; */
    height: 100%;
    width: 100%;
}

#nav {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
    
}

;